<h1>Commerce Product Bundle Recurring</h1>
<p>Commerce Product Bundle Recurring is created to bring Commerce Recurring functionality support for Commerce Product Bundle entities.
It also may serve as an example for bringing Commerce Recurring functionality to other entities.</p>
<p>After you install module</p>
<ol>
<li>
Trait "Purchasable Entity" is added automatically to Product Bundle entity settings. 
Add for other entities manually if you need them to be purchased.
</li>
<li>
'Recurring (Product bundle)' order item type is added automatically. 
Add extra Order Item Types manually, if needed at <a href="admin/commerce/config/order-item-types">Order item types</a> page and select 
"Recurring" order type for them. You may have to add <a href="https://www.drupal.org/project/commerce_recurring/issues/3225333"> patch</a>
to have "Recurring" order type visible in dropdown.
</li>
<li>
'Billing schedule' and 'Subscription type' are added automatically to Product Bundle type 'Default'. Add them to other Product Bundle types
manually, if you need, in same maner with same field name. <a href="admin/commerce/config/product-bundle-types/default/edit/fields">'Default'
as example</a>
</li>
<li>Manually set 'Billing schedule' and 'Subscription type' to Product Bundles you wish to be sold with recurring payments functionality</li>
</ol>